* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

body {
  font-family: "Roboto", sans-serif;
}

:root {
  --main: #132258;
}

.inner-section {
  max-width: 1200px;
  margin: auto;
}

.main-button {
  background-color: var(--main);
  color: #fff;
  padding: 8px 22px;
  transition: all 0.2s linear;
  border-radius: 3px;
}

.main-button:hover {
  background-color: #192966;
  color: #fff;
  padding: 9px 28px;
  box-shadow: -5px -5px 3px 2px #dadada;
}

/* philosphy banner */

.philosphy-banner {
  padding: 0 15%;
  background: url("../images/our_story_paint_correction.jpg");
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 80vh;
  display: flex;
}

.philosphy-banner .inner-section,
.philosphy-banner .inner-banner {
  height: 100%;
}

.philosphy-banner .inner-banner {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.philosphy-banner .banner-text {
  background: rgb(225, 225, 225, 0.9);
  width: 80%;
  padding: 40px;
}

.philosphy-banner .banner-text p:nth-child(1) {
  font-size: 30px;
  font-weight: 700;
  color: var(--main);
  margin-bottom: 10px;
}

.philosphy-banner .banner-text p:nth-child(2) {
  color: #444444;
}

/* end philosphy banner */

/* delivery */

.delivery {
  padding: 60px 12%;
  border-bottom: 1px solid #ccc;
}

.delivery-top {
  text-align: center;
  margin-bottom: 40px;
}

.delivery-top p:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  color: var(--main);
  margin-bottom: 7px;
}

.delivery-top p:nth-child(2) {
  color: #777;
}

.delivery-icons {
  text-align: center;
}

.delivery-icons img {
  width: 9%;
  margin-right: 7px;
}

/* end delivery */

/* bottle */

.bottle {
  padding: 60px 15%;
  background: #f5f5f5;
  border-bottom: 1px solid #ccc;
}

.bottle-section {
  display: flex;
}

.bottle .bottle-text {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.bottle .bottle-text p {
  color: #5e5e5e;
  font-size: 17px;
  border-bottom: 1px solid #777;
}

.bottle .bottle-image {
  margin: 0 20px;
}

/* end bottle */

/* nano comparison */

.nano-comparison {
  padding: 50px 17%;
}

.comparison-top {
  text-align: center;
  margin-bottom: 40px;
}

.comparison-top p:nth-child(1) {
  font-size: 32px;
  font-weight: 700;
  color: var(--main);
  margin-bottom: 7px;
}

.comparison-top p:nth-child(2) {
  color: #777;
  font-size: 15px;
}

.nano-comparison thead {
  background-color: #444;
  color: #fff;
}

.nano-comparison table tr i {
  color: #cfcfcf;
  font-size: 18px;
}

.nano-comparison table .uv-armour i:nth-child(-n + 5) {
  color: #efad4c;
}

.nano-comparison table .uv-wax i:nth-child(-n + 2) {
  color: #efad4c;
}

.nano-comparison table .uv-none i:nth-child(-n + 1) {
  color: #efad4c;
}

.nano-comparison table .corrosion-armour i:nth-child(-n + 4) {
  color: #efad4c;
}

.nano-comparison table .corrosion-wax i:nth-child(-n + 0) {
  color: #efad4c;
}

.nano-comparison table .corrosion-none i:nth-child(-n + 0) {
  color: #efad4c;
}

.nano-comparison table .scratch-armour i:nth-child(-n + 4) {
  color: #efad4c;
}

.nano-comparison table .scratch-wax i:nth-child(-n + 1) {
  color: #efad4c;
}

.nano-comparison table .scratch-none i:nth-child(-n + 0) {
  color: #efad4c;
}

.nano-comparison table .durability-armour i:nth-child(-n + 5) {
  color: #efad4c;
}

.nano-comparison table .durability-wax i:nth-child(-n + 1) {
  color: #efad4c;
}

.nano-comparison table .durability-none i:nth-child(-n + 1) {
  color: #efad4c;
}

.nano-comparison table .gloss-armour i:nth-child(-n + 5) {
  color: #efad4c;
}

.nano-comparison table .gloss-wax i:nth-child(-n + 4) {
  color: #efad4c;
}

.nano-comparison table .gloss-none i:nth-child(-n + 1) {
  color: #efad4c;
}

.comparison-bottom {
  text-align: center;
  margin-top: 40px;
}

.comparison-bottom .text p {
  color: #777;
  margin-bottom: 25px;
}

/* end nano comparison */

@media screen and (max-width: 980px) {
  /* philosphy banner */

  .philosphy-banner {
    padding: 10% 2%;
    height: 100%;
  }

  .philosphy-banner .banner-text {
    background: rgb(225, 225, 225, 0.8);
    width: 95%;
    padding: 20px;
  }

  .philosphy-banner .banner-text p:nth-child(1) {
    font-size: 25px;
    margin-bottom: 7px;
  }

  /* end philosphy banner */

  /* delivery */

  .delivery {
    padding: 60px 5%;
  }
  .delivery-top {
    margin-bottom: 30px;
  }

  .delivery-top p:nth-child(1) {
    font-size: 25px;
  }

  .delivery-top p:nth-child(2) {
    font-size: 15px;
  }

  .delivery-icons {
    text-align: center;
  }

  .delivery-icons img {
    width: 10%;
    margin-right: 0px;
  }

  /* end delivery */

  /* bottle */

  .bottle {
    padding: 60px 2%;
  }

  .bottle-section {
    align-items: center;
  }

  .bottle .bottle-text p {
    font-size: 14px;
    margin-bottom: 20px;
  }

  .bottle .bottle-image {
    margin: 0 10px;
  }

  .bottle .bottle-image img {
    width: 90px;
  }
  /* end bottle */
  /* nano comparison */

  .nano-comparison {
    padding: 50px 5%;
  }

  .comparison-top p:nth-child(1) {
    font-size: 25px;
  }

  .nano-comparison .table th,
  .nano-comparison .table td {
    min-width: 180px;
  }

  /* end nano comparison */
}
